 <style>
   .icon-paye {
    width: 44px;
    height: 40px;
    background-color: #ffc107; 
    color: #000;
    font-size: 24px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffc107 !important; 
    cursor: pointer;
}

.icon-paye:hover {
    color: #000;
}

.icon-echeance {
    width: 44px;
    height: 40px;
    background-color: #0d6efd; 
    color: #fff;
    font-size: 24px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0d6efd !important; 
    cursor: pointer;
}

.icon-echeance:hover {
    color: #fff;
}

.icon-detail {
    width: 44px;
    height: 40px;
    color: #000;
    font-size: 24px; 
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 15px;
}

.icon-cancel {
    width: 44px;
    height: 40px;
    color: #000;
    font-size: 24px; 
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 15px;
    border:none !important;
}

.icon-depot {
    width: 50px;
    height: 32px;
    background-color: #9e2d2d; 
    color: #fff;
    font-size: 16px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9e2d2d !important; 
    cursor: pointer;
}

.icon-depot:hover {
    color: #fff;
}

</style>
 
 <div class="col-md-10 col-12" id="financiereProduct">
    <div class="card p-3 p-lg-5">
        <div class="date">
            <div class="row">
                <div class="col-md-5 col-12">
                    <p class="fw-bold fs-5"><i class="bi bi-archive-fill text-primary"></i><span class="mx-2 text-primary">Date devis:</span><span class="text-warning">15/07/2024</span></p>
                </div>
                <div class="col-md-5 col-12">
                    <p class="fw-bold fs-5"><i class="bi bi-archive-fill text-primary"></i><span class="mx-2 text-primary">Date commande:</span><span class="text-warning">15/07/2024</span></p>
                </div>
                {% if affaire.paiement is not null and affaire.paiement == "paye" and factureFile is not null %}
                    <div class="col-md-2 col-12">
                            <div class="d-flex justify-content-center">
                            <a title="Annuler" style="cursor: pointer;" onclick="return annuleFacture({{affaire.id}})" title="Annuler" class="icon-cancel bg-danger text-white d-flex align-items-center justify-content-center border border-secondary">
                                <i class="bi bi-x"></i>
                            </a>
                        </div>
                    </div>
                {% else %}
                    {% if affaire.paiement is not null and (affaire.paiement == "non" or affaire.paiement is null)  %}
                    <div class="col-md-2 col-12">
                        <div class="d-flex justify-content-end">
                            {% if affaire.products|length > 0 and affaire.paiement != "enecheance" %}
                                <a title="Payé" style="cursor: pointer;" onclick="paiement({{affaire.id}})" class="icon-paye">
                                    <i class="bi bi-credit-card-2-front-fill"></i>
                                </a>
                                <a href="#" title="Facture écheance" class="icon-echeance" onclick="return openModalFactureEcheance({{ affaire.id }})">
                                    <i class="bi bi-calendar-heart-fill"></i>
                                </a>
                                {% if affaire.depot == 1 %}
                                    <a onclick="return depot({{affaire.id}})" style="cursor: pointer;" title="Dépôt" class="icon-depot">
                                        <i class="bi bi-box-seam"></i>
                                    </a>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr>
        {% set montantHt = 0 %}
        {% set montantTTC = 0 %}
        <div class="financier-produit mt-4">
            <table class="table">
                <thead>
                    <tr class="bg-light">
                        <th class="text-center">Ref</th>
                        <th class="text-center" style="width: 200px;">Intitulé</th>
                        <th class="text-center">Qté</th>
                        <th class="text-center">PU(HT)</th>
                        <th class="text-center">PT(HT)</th>
                        <th class="text-center">Action</th>
                    </tr>
                
                </thead>
                <tbody>
                        {% for product in produits %}
                    <tr id="tr_produit_{{ product.id }}" data-id="{{ product.id }}"
                                data-id-affaire="{{ affaire.id }}">
                        <td class="align-middle text-center">{{product.reference}} ({{product.typeVente}})</td>
                        <td class="align-middle" style="width: 200px;">{{product.nom}}</td>
                        <td class="align-middle text-center">
                            {% set volumeGros = product.produitCategorie.volumeGros %}
                            {% if volumeGros == 0 %}
                                
                                {% if product.typeVente == "detail" %}
                                    {{product.qtt}}&nbsp;{{product.uniteVenteGros}} / {{product.produitCategorie.stockRestant|number_format(2,'.','')}} {{product.uniteVenteDetail}} 
                        
                                    (
                                        {% if ((product.qtt) |round(0)) != 0 %} 
                                            {{ (product.qtt) |round(0)}} 
                                            {{product.produitCategorie.presentationGros}}  
                                                et 
                                        {% endif %}
                                        {{product.qtt - ( (product.qtt) |round(0))}} {{product.produitCategorie.presentationDetail}})   
                                {% else %}
                                    {% set coef = 1 %}
                                    {% if product.produitCategorie.uniteVenteGros in ['l', 'ml', 'cc', 'PCS'] %}
                                    {% set coef = product.produitCategorie.volumeGros %}
                                    {% endif %}
                                    
                                    {{product.qtt }}&nbsp;{{product.produitCategorie.uniteVenteGros}} / {{product.produitCategorie.stockRestant|number_format(2,'.','')}} {{product.produitCategorie.uniteVenteGros}} 
                                    (
                                        {% if product.produitCategorie.volumeGros > 0 and product.qtt >= product.produitCategorie.volumeGros %} 
                                            {{(product.qtt) |round(0)}}  {{product.produitCategorie.presentationGros}} 
                                            {% if product.qtt * coef - product.produitCategorie.volumeGros != 0 %} 
                                                et 
                                            {% endif %} 
                                        {% endif %} 

                                        {% if product.produitCategorie.volumeGros > 0 and product.qtt >= product.produitCategorie.volumeGros %} 
                                            {% if product.qtt * coef - product.produitCategorie.volumeGros != 0 %} 
                                                {{product.qtt - ( (product.qtt) |round(0))}} {{product.produitCategorie.presentationDetail}} 
                                            {% endif %} 
                                        {% else %} 
                                                {{product.qtt}}
                                            {{product.produitCategorie.presentationGros}}
                                            
                                        {% endif %} 
                                    )
                                {% endif %}

                            {% else %}

                                {% if product.typeVente == "detail" %}
                                    {{product.qtt}}&nbsp;{{product.produitCategorie.uniteVenteGros}} / {{product.produitCategorie.stockRestant|number_format(2,'.','') * product.produitCategorie.volumeGros }} {{product.produitCategorie.uniteVenteGros}} 
                            
                                    (
                                        {% if product.qtt != 0 and product.qtt >= product.produitCategorie.volumeGros  %} 
                                            {{( (product.qtt / product.produitCategorie.volumeGros) |round(2))}} {{product.produitCategorie.presentationGros}})
                                        {% else %}
                                            {% if product.produitCategorie.volumeGros > 0 %}
                                                {% if product.qtt >= product.produitCategorie.volumeGros %} 
                                                        {{ product.qtt }} {{product.produitCategorie.presentationGros}})
                                                {% else %}
                                                    {{product.qtt }} {{product.produitCategorie.presentationDetail}})
                                                {% endif %}
                                                
                                            {% else %}
                                                    {{product.qtt }} {{product.produitCategorie.presentationDetail}})
                                            {% endif %}
                                        {% endif %}
                                            
                                {% else %}
                                    {% set coef = 1 %}
                                    {% if product.produitCategorie.uniteVenteGros in ['l', 'ml', 'cc', 'PCS'] %}
                                    {% set coef = product.produitCategorie.volumeGros %}
                                    {% endif %}

                                    {{product.qtt * product.produitCategorie.volumeGros }}&nbsp;{{product.produitCategorie.uniteVenteGros}} / {{product.produitCategorie.stockRestant|number_format(2,'.','') * product.produitCategorie.volumeGros}} {{product.uniteVenteGros}} 
                                    (
                                        {# {% if product.qtt >= product.produitCategorie.volumeGros %} 
                                            {{(product.qtt / product.produitCategorie.volumeGros  ) |round(0)}} {{product.produitCategorie.presentationGros}} 
                                            {% if product.qtt - product.produitCategorie.volumeGros != 0 %} 
                                                et 
                                            {% endif %} 
                                        {% endif %}  #}

                                    {# {% if product.qtt >= product.produitCategorie.volumeGros %} 
                                        {% if product.qtt - product.produitCategorie.volumeGros != 0 %} 
                                            {{product.qtt - ( (product.qtt  / product.produitCategorie.volumeGros) |round(0) * product.produitCategorie.volumeGros)}} {{product.produitCategorie.presentationDetail}} 
                                        {% endif %} 
                                    {% else %}  #}
                                        {{product.qtt}}
                                        {{product.produitCategorie.presentationGros}}
                                    {# {% endif %}  #}
                                )
                                {% endif %}
                            {% endif %}
                            
                            
                        </td>
                        <td class="align-middle text-center"> {% if product.typeVente == "gros" %}{{product.prixVenteGros|number_format(0, ',', ' ')}}{% else %}{{product.prixVenteDetail|number_format(0, ',', ' ')}}{% endif %}</td>
                        <td class="align-middle text-center">{% if product.typeVente == "gros" %}{{product.prixVenteGros * product.qtt }}{% else %}{{product.prixVenteDetail * product.qtt}}{% endif %} Ar</td>
                        <td>
                            {% if affaire.paiement is null or (affaire.paiement != "paye" and affaire.paiement != "annule" and affaire.paiement != "enecheance") %}
                            <a href="#" onclick="return updateLigneProduct(this, {{ product.id }}, {{ affaire.id }})" class="action-pencil d-block text-center mb-2"><i class="bi bi-pencil"></i></a>
                            <a href="#" onclick="deleteProduitAffaire(this, {{ product.id }}, {{ affaire.id }});" class="action-trash d-block text-center mb-2"><i class="bi bi-trash-fill"></i></a>
                            {% endif %}
                        </td>
                        {% if product.typeVente == "gros" %}
                            {% if product.produitCategorie.volumeGros > 0 %}
                                {% set montantHt = montantHt + ((product.qtt / product.produitCategorie.volumeGros) * product.prixVenteGros) %}
                            {% else %}
                                {% set montantHt = montantHt + (product.qtt * product.prixVenteGros) %}
                            {%endif %}
                        {% else %}
                            {% set montantHt = montantHt + (product.qtt * product.prixVenteDetail) %}
                        {% endif %}
                        
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div class="financier-info">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="mb-4">
                        
                        {% if affaire.paiement is not null and affaire.paiement == "paye" and factureFile is not null %}
                            <a title="Annuler" style="cursor: pointer;" onclick="return annuleFacture({{affaire.id}})" title="Annuler" class="text-danger financier-icon">
                                <i class="bi bi-x-square-fill"></i>
                            </a>
                        
                        {% else %}
                            {% if affaire.paiement is not null and (affaire.paiement == "non" or affaire.paiement is null)  %}
                                {% if affaire.paiement != "enecheance" %}
                                    <a style="cursor: pointer;" onclick="return openModalListProduit({{affaire.id}})" class="text-primary financier-icon" title="Ajouter produit"><i class="bi bi-list-ul"></i></a>
                                {% endif %}
                                {% if affaire.products|length > 0 and affaire.paiement != "enecheance" %}
                                    <a style="cursor: pointer;" onclick="return paiement({{affaire.id}})" class="text-info financier-icon" title="Payer"><i class="bi bi-credit-card-2-front-fill"></i></a>
                                    <a href="#" title="Facture écheance" class="text-success financier-icon" onclick="return openModalFactureEcheance({{affaire.id}})">
                                        <i class="bi bi-calendar-heart-fill"></i>
                                    </a>
                                    {% if affaire.depot == 1 %}
                                        <a onclick="return depot({{affaire.id}})" style="cursor: pointer;" title="Dépôt" class="text-danger financier-icon"><i class="bi bi-box-seam"></i></a>
                                    {% endif %}
                                {% endif %}
                                
                            {% endif %}
                        {% endif %}
                        </div>
                    <div class="row mb-4">
                        <div class="col-md-6 col-12">
                            <p>Status : </p>
                        </div>
                        <div class="col-md-6 col-12">
                            <select name="" id="" class="form-control form-control-md">
                                <option value="commande">commande</option>
                                <option value="devis">devis</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-12">
                    <div class="box" style="border: 1px solid #5a5858; margin-left: 15px;">
                        <div class="row box-content px-3">
                            <div class="col-md-6 col-12 align-middle">
                                <p class="mt-4">Montant : </p>
                            </div>
                            <div class="col-md-6 col-12 align-middle d-flex justify-content-end">
                                <p class="mt-4">{{ montantHt|number_format(0, ',', ' ') }} Ar</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

  <script>
    $(document).ready(function() {
        $('#tab-compte_1').removeClass('active').empty();
        $('#tab-compte_2').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#affaires_client').removeClass('active').empty();
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-produit-date-peremption').removeClass('active').empty();
            $('#tab-inventaire-produit').css('display','none');

        $('.tab-user').removeClass('active');
        $('#tab-utilisateur').removeClass('active');

        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
     
      
        $('#tab-application').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-produit-type').removeClass('active');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('#tab-info-affaire').removeClass('active');
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-financier-affaire').addClass('active');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-depot').css('display', 'none');

      
      
    });

    $(document).ready(function() {
        var dateFormat = 'dd/mm/yyyy';
        var dateNow = new Date();
        dateNow.setDate(dateNow.getDate() + 1)

        $('.date-available').datepicker({
            format: dateFormat,
            todayHighlight: true,
            daysOfWeekDisabled: '0',
            startDate: dateNow,
            language: 'fr',
            autoclose: true,

        });

    });

    function openModalListProduit(id = null)
    {
        var anchorName = document.location.hash.substring(1);

        $.ajax({
                url: '/admin/affaires/produit/liste/'+id,
                type: 'post',
                //data: {},
                success: function (response) {
                    $("#modalListProduitCategorieEmpty").empty();
                    $("#modalListProduitCategorieEmpty").append(response.html);
                    $('#modalListProduitCategorie').modal('show');

                    if (anchorName) {
                        window.location.hash = anchorName;
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de produit.');
                }
            });
    }
   
  </script>

<script>
    function paiement(id = null) {
        if (confirm('Voulez vous vraiment faire ce paiement?')) {
            setTimeout(function() {
                $.ajax({
                url: '/admin/affaires/paiement/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Paiement fait');
                        
                        financier(id);

                        if (response.pdfUrl) {
                            window.open(response.pdfUrl, '_blank');
                        }

                    }, 800);
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de paiement.');
                }
            });
        
            }, 500);
           
        }
    }

    function annuleFacture(id = null) {
        if (confirm('Voulez vous vraiment annuler ce paiement?')) {
            setTimeout(function() {
                $.ajax({
                url: '/admin/affaires/paiement/annule/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Annulation fait');
                        
                        financier(id);

                        if (response.pdfUrl) {
                            window.open(response.pdfUrl, '_blank');
                        }
                    }, 800);
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'annulation de paiement.');
                }
            });
            
            }, 500);
           
        }
    }

    function depot(id = null) {
        if (confirm('Voulez vous vraiment faire ce dépôt?')) {
            setTimeout(function() {
                $.ajax({
                url: '/admin/affaires/depot/add/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Dépôt fait');
                        
                        financier(id);

                        if (response.pdfUrl) {
                            window.open(response.pdfUrl, '_blank');
                        }

                    }, 800);
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de paiement.');
                }
            });
        
            }, 500);
           
        }
    }

</script>