<style>
  
</style>

<div class="pagetitle">
    <h1>Liste historique de commande </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card p-5">
                <div class="card-body">
                    {% if logEmpty %}
                        <div class="alert alert-warning p-3">
                            Aucun historique pour le moment
                        </div>
                    {% else %}
                        {% if logLines is not empty %}
                            <table class="table table-striped" id="table-historique-affaire" style="width: 100%;">
                              <thead>
                                <tr class="text-nowrap">
                                    <th>Date</th>
                                    <th>Message</th>
                                    <th>Produit</th>
                                    <th>Nom du responsable</th>
                                    <th>Adresse e-mail</th>
                                    {#<th>ID Application</th>#}
                                </tr>
                              </thead>
                              <tbody>
                                  {% for line in logLines %}
                                      <tr class="text-nowrap">
                                          <td>{{ line['Date'] }}</td>
                                          <td>{{ line['Message'] }}</td>
                                          <td>{{ line['Produit'] }}</td>
                                          <td>{{ line['Nom du responsable'] }}</td>
                                          <td>{{ line['Adresse e-mail'] }}</td>
                                          {#<td>{{ line['ID Application'] }}</td>#}
                                      </tr>
                                  {% else %}
                                      <tr>
                                          <td colspan="5">Aucun historique pour le moment</td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                            </table>
                        {% else %}
                        <div class="alert alert-warning p-3">
                          Aucun historique pour le moment
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

  <script>

    $(document).ready(function() {
    $('#tab-fiche-fournisseur').removeClass('active').empty();
    $('#tab-quantite-vendu').removeClass('active').empty();
    $('#tab-notification').removeClass('active').empty();

      $('.tab-import-produit').removeClass('active').empty();
      $('#tab-import-produit').removeClass('active').empty();
      $('#tab-produit-type').removeClass('active');
      $('.tab-produit-type').removeClass('active');
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');

      $('.tab-user').removeClass('active');
      $('#tab-utilisateur').removeClass('active');

      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      
      $('#tab-dashboard').removeClass('active');
      $('#tab-profile').removeClass('active');
     
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
      
      $('#tab-application').removeClass('active');
      $('#tab-profile').removeClass('active');
       $('#tab-compte_1').removeClass('active');
      $('#tab-transfert-produit').css('display', 'none');
     $('#affaires_client').removeClass('active').empty();
       $('#affaires_fournisseur').removeClass('active').empty();
       $('#tab-info-affaire').removeClass('active').empty();
       $('#tab-financier-affaire').removeClass('active').empty();
      $('#tab-fiche-client').removeClass('active').empty();
      $('#tab-stock').removeClass('active').empty();
      $('#tab-produit-image').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('#tab-historique-affaire').addClass('active');
        $('#tab-historique-produit').removeClass('active').empty();


    })
    
    $(document).ready(function () {
    $('#customFile').on('change', function () {
        var fileName = $(this).val().split('\\').pop();
        $('#fileLabelText').text(fileName);
    });
});


  </script>