
<div class="modal fade" id="modalUpdateUtilisateur" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewLabel">Modifier utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'updateUtilisateur', 'action': path('utilisateurs_edit', {'utilisateur': id}) }}) }}
                   
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Nom</label>
                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Prénom</label>
                            {{ form_widget(form.prenom) }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Point de vente</label>
                            {{ form_widget(form.applications) }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Privileges</label>
                            {{ form_widget(form.privileges) }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Email</label>
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Telephone</label>
                            {{ form_widget(form.telephone) }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Photo</label>
                            {{ form_widget(form.imageFile) }}
                        </div>
                      
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Activé</label>
                            {{ form_widget(form.isActive) }}
                        </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm px-3 mt-3" style="width: 100%;">Modifier</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/script_utile.js')}}"></script>

<script>
   
    $(document).ready(function () {
       $('#updateUtilisateur').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (response) {
                    $('#modalUpdateUtilisateur').modal('hide');
                    var nextLink = $('#sidebar').find('li#utilisateur').find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Enregistrement effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de la catégorie.');
                }
            });
        });
    });
</script>
