<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .logo {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    {% set compte = facture.affaire.compte %}

    <div>
        <img src="https://www.cvb-group.com/assets/images/logo-vsm.jpeg" alt="" style="width: 300px; height: 150px;">
    </div>

    <div style="margin-bottom: 20px;">
        <p style="margin-left: 500px;">Date : <strong style="margin-left: 15px;">{{facture.date|date('d/m/Y')}}</strong></p>
    </div>
 
    <div style="margin-bottom: 30px;">
        <table class="table" style="width: 100%;">
            <tr>
                <th style="width: 50%; border: 1px solid #000;">
                    <p style="font-size: 15px;">VETOSTORE MADAGASCAR</p>
                    <p style="font-size: 15px;">ANDREFANA AMBOHIJANAHARY</p>
                    <p style="font-size: 15px;">NIF: 4 017 729 300</p>
                    <p style="font-size: 15px;">STAT: 46101 11 2022 0 10244</p>
                    <p style="font-size: 15px;">TEL <span style="margin-left: 100px;">038 55 151 34</span></p>
                </th>
                <th style="width: 50%; border: 1px solid #000;">
                    <p style="text-align: center; font-size: 15px; text-transform: uppercase;"> {{facture.application.entreprise}} </p>
                    <p style="font-size: 15px;">TEL <span style="margin-left: 50px;"> {{facture.application.telephone}} </span></p>
                </th>
            </tr>
        </table>
    </div>
    <div style="margin-bottom: 30px;">
        <p style="text-align: center; font-size: 30px;"> 
            <strong>
                Facture / 
                {% if facture.statut == "annule" %}
                    FA-annulé-{{facture.numero}}
                {% elseif facture.statut == "regle" or facture.statut == "encours" %}
                    FA-validé-{{facture.numero}}
                {% endif %}
            </strong>
        </p>
    </div>

    <div style="margin-bottom: 30px;">
        <table width="100%">
            <thead>
                <tr style="background-color: #504f4f81; color: #fff;">
                    <th width="10%">
                        Référence
                    </th>
                    <th width="30%">
                        Description
                    </th>
                    <th width="12%">
                        QTT
                    </th>
                    <th width="24%">
                        PU (Ariary)
                    </th>
                    <th width="24%">
                        Montant TTC (Ariary)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% set montantHt = 0 %}
     
                {% for produit in produits %}
                <tr style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                    <td width="10%">
                        {{ produit.reference }}
                    </td>
                    <td width="30%">
                        {{ produit.nom }}

                    </td>
                    <td width="12%">
                        {{ produit.qtt }}
                        {% if produit.typeVente == "gros" %}
                            {{produit.uniteVenteGros}}
                        {% elseif produit.typeVente == "detail" %}
                            {{produit.uniteVenteDetail}}
                        {% endif %}
                    </td>
                    <td width="24%">
                        {% set prix = produit.prixVenteGros %}
                        {% if produit.typeVente != "gros" %}
                        {% set prix = produit.prixVenteDetail %}
                        {% endif %}
                        
                        {{ prix|number_format(2, ',', ' ') }} Ar
                    </td>
                    <td width="24%">
                        {{ (produit.qtt * prix)|number_format(2, ',', ' ') }} Ar
                    </td>
                </tr>

                {% set montantHt = montantHt + (produit.qtt * prix)  %}

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-bottom: 20px;">
        <p>
            <strong>Déjà payer : </strong>
            {% if facture.reglement is not null or facture.reglement > 0 %}
                {{facture.reglement|number_format(2,',','')}} Ar
            {% else %}
                0,00 Ar
            {% endif %}

        </p>
        <p>
            <strong>Écheances : </strong>
            {% if factureEcheances|length > 0 %}
                <br>
                {% set status = constant('App\\Entity\\FactureEcheance::STATUS') %}
                {% for factureEcheance in factureEcheances %}
                    <strong>
                        {% if factureEcheance.nouveauDelaiPaiement is not null %}
                            - {{factureEcheance.nouveauDelaiPaiement}} jours / 
                        {% else %}
                            - {{factureEcheance.delaiPaiement}} jours / 
                        {% endif %}
                        {% if factureEcheance.reglement is not null or factureEcheance.reglement > 0 %}
                                {{(factureEcheance.montant - factureEcheance.reglement)|number_format(2,',','')}} Ar 
                            sur {{factureEcheance.montant|number_format(2,',','')}} Ar 
                            {% if factureEcheance.dateReporter is not null %}
                                ({{factureEcheance.dateReporter|date('d/m/Y')}}) ({{status[factureEcheance.status]}})
                            {% else %}
                                ({{factureEcheance.dateEcheance|date('d/m/Y')}}) ({{status[factureEcheance.status]}})
                            {% endif %}
                        {% else %}
                            {{factureEcheance.montant|number_format(2,',','')}} Ar 
                            {% if factureEcheance.dateReporter is not null %}
                                ({{factureEcheance.dateReporter|date('d/m/Y')}}) ({{status[factureEcheance.status]}})
                            {% else %}
                                ({{factureEcheance.dateEcheance|date('d/m/Y')}}) ({{status[factureEcheance.status]}})
                            {% endif %}
                        {% endif %}
                    </strong> <br>
                {% endfor %}
            {% else %}
                pas d'écheance
            {% endif %}
        </p>

    </div>

    <div style="margin-bottom: 20px;">
        <p style="border: 1px solid #000; padding: 10px 50px; width: 40%;">
            TOTAL À PAYER <br><br>
            <span> {{montantHt|number_format(2,',','')}} Ar </span>
        </p>
    </div>

    <div>
        <p><strong>Responsable</strong></p>
        <p style="margin-left: 500px; margin-top: -5rem;"><strong>Client</strong></p>
    </div>

</body>
</html>
