<style>
    .dataTables_scroll {
      margin-top: 50px !important;
      margin-bottom: 30px !important;
    }
    td, tr {
      border-bottom: none !important;
    }

    .card-head {
        border: 1px solid #2a4ce8;
    }

    .icon-check {
        padding: 5px 8px;
        background-color: #2a4ce8;
        font-size: 25px;
        color: #fff;
        border-radius: 5px;
    }

    .title {
        font-size: 19px;
        color: #04176d;
        font-size: 30px;
    }

    .custom-checkbox {
        width: 20px;  
        height: 20px; 
    }
   
  </style>
  
  <div class="pagetitle">
      <h1>Liste écheances </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
          <li class="breadcrumb-item active">Liste</li>
        </ol>
      </nav>
    </div>
  <section class="section">
      <div class="row">
        <div class="col-lg-12">
             {% include 'admin/affaires/entete_compte.html.twig' with { 'compte': affaire.compte } %}

            {% include 'admin/affaires/entete_affaire.html.twig' with { 'affaire' : affaire} %}
            <div class="row">
                <div class="col-md-2 col-12">
                    {% include '/admin/affaires/menu_left.html.twig' with { 'affaire' : affaire} %}
                 </div>
                 <div class="col-md-10 col-12">
                    <div class="card">
                        <div class="card-body p-3 p-lg-5">
                            <h3 class="mb-5 title fw-bold"><i class="bi bi-file-earmark-excel-fill"></i><span class="mx-2">Écheances</span></h3>
                            
                            <table class="table table-striped" id="table-date-echeance" style="width: 100%;">
                                <thead>
                                    <tr class="text-nowrap">
                                        <th>Actions</th>
                                        <th>Statut</th>
                                        <th>Montant à payer</th>
                                        <th>Délais de paiement</th>
                                        <th>Date d'écheance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for liste in listes %}
                                    <tr>
                                        <td>
                                            {% if liste.status == "regle" %}
                                                <a href="{{ asset('uploads/factures/echeance/' ~ liste.file) }}" target="_blank" class="text-danger" title="Voir facture"><i class="bi bi-file-earmark-pdf-fill"></i></a>
                                            {% else %}
                                            <a href="#" onclick="return openModalNewFactureEcheance({{liste.id}})" title="Facturer" class="text-primary"><i class="bi bi-receipt"></i></a>
                                            {% endif %}
                                        </td>
                                        {% set status = constant('App\\Entity\\FactureEcheance::STATUS') %}
                                        <td> {{status[liste.status]}} </td>
                                        <td> {{liste.montant|number_format(2,',','')}} Ar </td>
                                        <td> {{liste.delaiPaiement}} jours </td>
                                        <td> {{liste.dateEcheance|date('d-m-Y')}} </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucun enregistrement trouvé</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                      </div>
                 </div>
            </div>
        </div>
      </div>
      <div id="blockModalNewFactureEcheanceEmpty"></div>
    </section>
  
    <script>

$(document).ready(function() {
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-stock').removeClass('active');
        $('#tab-inventaire-produit').css('display','none');

        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');


        $('.tab-user').removeClass('active');
        $('#tab-utilisateur').removeClass('active');

        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
    
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
    
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
    
        $('#tab-application').removeClass('active');
        $('#tab-profile').removeClass('active');
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-produit-type').removeClass('active');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','block');

    });
     
      function openModalNewFactureEcheance(id = null) {
        var anchorName = document.location.hash.substring(1);

        $.ajax({
                url: '/admin/facture/echeance/facture/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    if (response.html != "") {
                        $("#blockModalNewFactureEcheanceEmpty").empty();
                        $("#blockModalNewFactureEcheanceEmpty").append(response.html);

                        $('#modalNewFactureEcheance').modal('show');

                        if (anchorName) {
                            window.location.hash = anchorName;
                        }

                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de facture d\'écheance.');
                }
            });
    }
    </script>