<style>
  .dropdown-item{
    cursor: pointer;
  }
</style>
<div class="pagetitle">
    <h1>Tableau de board</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Accueil</a></li>
        <li class="breadcrumb-item active">Tableau de board</li>
      </ol>
    </nav>
  </div>
<section class="section dashboard">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card info-card sales-card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item order-filter" data-period="today">Aujourd'hui</a></li>
                    <li><a class="dropdown-item order-filter" data-period="yesterday">Hier</a></li>
                    <li><a class="dropdown-item order-filter" data-period="this-week">Cette semaine</a></li>
                    <li><a class="dropdown-item order-filter" data-period="last-week">Semaine dernière</a></li>
                    <li><a class="dropdown-item order-filter" data-period="this-month">Ce mois-ci</a></li>
                    <li><a class="dropdown-item order-filter" data-period="last-month">Mois dernier</a></li>
                    <li><a class="dropdown-item order-filter" data-period="this-year">Cette année</a></li>
                    <li><a class="dropdown-item order-filter" data-period="last-year">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Commandes <span id="period-text">| Aujourd'hui</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6 id="order-count">0</h6>
                        {#<span class="text-success small pt-1 fw-bold" id="percentage-change">0%</span>
                        <span class="text-muted small pt-2 ps-1">variation</span>#}
                    </div>
                </div>
            </div>
        </div>
      </div>

        <div id="order-data" style="display: none;">
          <span id="count-today"> {{countAffaireToday | default(0)}} </span>
          <span id="count-yesterday"> {{countAffaireYesterday | default(0)}} </span>
          <span id="count-this-week"> {{countAffaireThisWeek |default(0) }} </span>
          <span id="count-last-week"> {{countAffaireLastWeek | default(0)}} </span>
          <span id="count-this-month"> {{countAffaireThisMonth | default(0)}} </span>
          <span id="count-last-month"> {{countAffaireLastMonth | default(0)}} </span>
          <span id="count-this-year"> {{countAffaireThisYear | default(0)}} </span>
          <span id="count-last-year"> {{countAffaireLastYear | default(0)}} </span>
        </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

        <div class="card info-card customers-card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrer</h6>
              </li>

              <li><a class="dropdown-item client-filter" data-period="today-client">Aujourd'hui</a></li>
              <li><a class="dropdown-item client-filter" data-period="yesterday-client">Hier</a></li>
              <li><a class="dropdown-item client-filter" data-period="this-week-client">Cette semaine</a></li>
              <li><a class="dropdown-item client-filter" data-period="last-week-client">Semaine dernière</a></li>
              <li><a class="dropdown-item client-filter" data-period="this-month-client">Ce mois-ci</a></li>
              <li><a class="dropdown-item client-filter" data-period="last-month-client">Mois dernier</a></li>
              <li><a class="dropdown-item client-filter" data-period="this-year-client">Cette année</a></li>
              <li><a class="dropdown-item client-filter" data-period="last-year-client">Année dernière</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Clients <span id="period-text-client">| Aujourd'hui</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-people"></i>
              </div>
              <div class="ps-3">
                <h6 id="client-count">0</h6>
                {#<span class="text-danger small pt-1 fw-bold">12%</span> 
                <span class="text-muted small pt-2 ps-1">decrease</span>#}

              </div>
            </div>

          </div>
        </div>

      </div>

      <div id="client-data" style="display: none;">
        <span id="count-client-today"></span>
        <span id="count-client-yesterday"></span>
        <span id="count-client-this-week"></span>
        <span id="count-client-last-week"></span>
        <span id="count-client-this-month"></span>
        <span id="count-client-last-month"></span>
        <span id="count-client-this-year"></span>
        <span id="count-client-last-year"></span>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card info-card sales-card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item produit-filter" data-period="today-produit">Aujourd'hui</a></li>
                    <li><a class="dropdown-item produit-filter" data-period="yesterday-produit">Hier</a></li>
                    <li><a class="dropdown-item produit-filter" data-period="this-week-produit">Cette semaine</a></li>
                    <li><a class="dropdown-item produit-filter" data-period="last-week-produit">Semaine dernière</a></li>
                    <li><a class="dropdown-item produit-filter" data-period="this-month-produit">Ce mois-ci</a></li>
                    <li><a class="dropdown-item produit-filter" data-period="last-month-produit">Mois dernier</a></li>
                    <li><a class="dropdown-item produit-filter" data-period="this-year-produit">Cette année</a></li>
                    <li><a class="dropdown-item produit-filter" data-period="last-year-produit">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Produits en stock<span id="period-text-produit">| Aujourd'hui</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-basket"></i>
                    </div>
                    <div class="ps-3">
                        <h6 id="produit-count">0</h6>
                        {#<span class="text-success small pt-1 fw-bold" id="percentage-change">0%</span>
                        <span class="text-muted small pt-2 ps-1">variation</span>#}
                    </div>
                </div>
            </div>
        </div>
      </div>
    
      <div id="produit-categorie-data" style="display: none;">
        <span id="count-produit-today"></span>
        <span id="count-produit-yesterday"></span>
        <span id="count-produit-this-week"></span>
        <span id="count-produit-last-week"></span>
        <span id="count-produit-this-month"></span>
        <span id="count-produit-last-month"></span>
        <span id="count-produit-this-year"></span>
        <span id="count-produit-last-year"></span>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card info-card sales-card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item product-filter" data-period="today-product">Aujourd'hui</a></li>
                    <li><a class="dropdown-item product-filter" data-period="yesterday-product">Hier</a></li>
                    <li><a class="dropdown-item product-filter" data-period="this-week-product">Cette semaine</a></li>
                    <li><a class="dropdown-item product-filter" data-period="last-week-product">Semaine dernière</a></li>
                    <li><a class="dropdown-item product-filter" data-period="this-month-product">Ce mois-ci</a></li>
                    <li><a class="dropdown-item product-filter" data-period="last-month-product">Mois dernier</a></li>
                    <li><a class="dropdown-item product-filter" data-period="this-year-product">Cette année</a></li>
                    <li><a class="dropdown-item product-filter" data-period="last-year-product">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Produits vendus <span id="period-text-product">| Aujourd'hui</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-basket"></i>
                    </div>
                    <div class="ps-3">
                        <h6 id="product-count">0</h6>
                        {#<span class="text-success small pt-1 fw-bold" id="percentage-change">0%</span>
                        <span class="text-muted small pt-2 ps-1">variation</span>#}
                    </div>
                </div>
            </div>
        </div>
      </div>
    
      <div id="produit-commande-data" style="display: none;">
        <span id="count-product-today"></span>
        <span id="count-product-yesterday"></span>
        <span id="count-product-this-week"></span>
        <span id="count-product-last-week"></span>
        <span id="count-product-this-month"></span>
        <span id="count-product-last-month"></span>
        <span id="count-product-this-year"></span>
        <span id="count-product-last-year"></span>
      </div>
    </div>
  </section>

  <script src="{{asset('assets/js/filter.js')}}"></script>

  <script>
    $(document).ready(function() {
    $('#tab-compte_1').removeClass('active');
    $('#tab-compte_2').removeClass('active');
    
    $('#affaires_fournisseur').removeClass('active').empty();
    
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');
      $('.tab-import-produit').removeClass('active');
      $('#tab-import-produit').removeClass('active');

      $('.tab-user').removeClass('active');
      $('#tab-utilisateur').removeClass('active');

      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      
      $('#tab-profile').removeClass('active');
     
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
       $('#tab-transfert-produit').css('display', 'none');
     
      $('#tab-application').removeClass('active');
      $('#tab-profile').removeClass('active');
      $('#tab-produit-type').removeClass('active');
      $('.tab-produit-type').removeClass('active');
      $('#tab-financier-affaire').css('display', 'none');
      $('#tab-import-produit').css('display', 'none');
      $('#tab-facture').css('display', 'none');
      $('#tab-facture-affaire').css('display', 'none');
      $('#affaires_client').css('display', 'none');
      $('#tab-info-affaire').css('display', 'none');
      $('#tab-dashboard').addClass('active');

    });

    
   
  </script>

