<style>
  .dropdown-item{
    cursor: pointer;
  }
</style>
<div class="pagetitle">
    <h1>Tableau de board</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Accueil</a></li>
        <li class="breadcrumb-item active">Tableau de board</li>
      </ol>
    </nav>
  </div>
<section class="section dashboard">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card info-card orders-card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item order-filter" data-period="today">Aujourd'hui</a></li>
                    <li><a class="dropdown-item order-filter" data-period="yesterday">Hier</a></li>
                    <li><a class="dropdown-item order-filter" data-period="this-week">Cette semaine</a></li>
                    <li><a class="dropdown-item order-filter" data-period="last-week">Semaine dernière</a></li>
                    <li><a class="dropdown-item order-filter" data-period="this-month">Ce mois-ci</a></li>
                    <li><a class="dropdown-item order-filter" data-period="last-month">Mois dernier</a></li>
                    <li><a class="dropdown-item order-filter" data-period="this-year">Cette année</a></li>
                    <li><a class="dropdown-item order-filter" data-period="last-year">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Commandes <span id="period-text">| Aujourd'hui</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6 id="order-count">0</h6>
                        {#<span class="text-success small pt-1 fw-bold" id="percentage-change">0%</span>
                        <span class="text-muted small pt-2 ps-1">variation</span>#}
                    </div>
                </div>
            </div>
        </div>
      </div>

        <div id="order-data" style="display: none;">
          <span id="count-today"> {{countAffaireToday | default(0)}} </span>
          <span id="count-yesterday"> {{countAffaireYesterday | default(0)}} </span>
          <span id="count-this-week"> {{countAffaireThisWeek |default(0) }} </span>
          <span id="count-last-week"> {{countAffaireLastWeek | default(0)}} </span>
          <span id="count-this-month"> {{countAffaireThisMonth | default(0)}} </span>
          <span id="count-last-month"> {{countAffaireLastMonth | default(0)}} </span>
          <span id="count-this-year"> {{countAffaireThisYear | default(0)}} </span>
          <span id="count-last-year"> {{countAffaireLastYear | default(0)}} </span>
        </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">

        <div class="card info-card produit-card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrer</h6>
              </li>

              <li><a class="dropdown-item produit-filter" data-period="today">Aujourd'hui</a></li>
              <li><a class="dropdown-item produit-filter" data-period="yesterday">Hier</a></li>
              <li><a class="dropdown-item produit-filter" data-period="this-week">Cette semaine</a></li>
              <li><a class="dropdown-item produit-filter" data-period="last-week">Semaine dernière</a></li>
              <li><a class="dropdown-item produit-filter" data-period="this-month">Ce mois-ci</a></li>
              <li><a class="dropdown-item produit-filter" data-period="last-month">Mois dernier</a></li>
              <li><a class="dropdown-item produit-filter" data-period="this-year">Cette année</a></li>
              <li><a class="dropdown-item produit-filter" data-period="last-year">Année dernière</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Produits <span id="period-text-produit">| Aujourd'hui</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-box"></i>
              </div>
              <div class="ps-3">
                <h6 id="produit-count">0</h6>
                {#<span class="text-danger small pt-1 fw-bold">12%</span> 
                <span class="text-muted small pt-2 ps-1">decrease</span>#}

              </div>
            </div>

          </div>
        </div>

      </div>

      <div id="produit-data" style="display: none;">
        <span id="count-produit-today"> {{countProduitToday | default(0)}} </span>
        <span id="count-produit-yesterday"> {{countProduitYesterday | default(0)}} </span>
        <span id="count-produit-this-week"> {{countProduitThisWeek | default(0)}} </span>
        <span id="count-produit-last-week"> {{countProduitLastWeek | default(0)}} </span>
        <span id="count-produit-this-month"> {{countProduitThisMonth | default(0)}} </span>
        <span id="count-produit-last-month"> {{countProduitLastMonth | default(0)}} </span>
        <span id="count-produit-this-year"> {{countProduitThisYear | default(0)}} </span>
        <span id="count-produit-last-year"> {{countProduitLastYear | default(0)}} </span>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">

        <div class="card info-card stocks-card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrer</h6>
              </li>

              <li><a class="dropdown-item transfert-filter" data-period="today">Aujourd'hui</a></li>
              <li><a class="dropdown-item transfert-filter" data-period="yesterday">Hier</a></li>
              <li><a class="dropdown-item transfert-filter" data-period="this-week">Cette semaine</a></li>
              <li><a class="dropdown-item transfert-filter" data-period="last-week">Semaine dernière</a></li>
              <li><a class="dropdown-item transfert-filter" data-period="this-month">Ce mois-ci</a></li>
              <li><a class="dropdown-item transfert-filter" data-period="last-month">Mois dernier</a></li>
              <li><a class="dropdown-item transfert-filter" data-period="this-year">Cette année</a></li>
              <li><a class="dropdown-item transfert-filter" data-period="last-year">Année dernière</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Stocks transferés <span id="period-text-transfert">| Aujourd'hui</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-box"></i>
              </div>
              <div class="ps-3">
                <h6 id="transfert-count">0</h6>
                {#<span class="text-danger small pt-1 fw-bold">12%</span> 
                <span class="text-muted small pt-2 ps-1">decrease</span>#}

              </div>
            </div>

          </div>
        </div>

      </div>

      <div id="transfert-data" style="display: none;">
        <span id="count-transfert-today"> {{countTransfertToday | default(0)}} </span>
        <span id="count-transfert-yesterday"> {{countTransfertYesterday | default(0)}} </span>
        <span id="count-transfert-this-week"> {{countTransfertThisWeek | default(0)}} </span>
        <span id="count-transfert-last-week"> {{countTransfertLastWeek | default(0)}} </span>
        <span id="count-transfert-this-month"> {{countTransfertThisMonth | default(0)}} </span>
        <span id="count-transfert-last-month"> {{countTransfertLastMonth | default(0)}} </span>
        <span id="count-transfert-this-year"> {{countTransfertThisYear | default(0)}} </span>
        <span id="count-transfert-last-year"> {{countTransfertLastYear | default(0)}} </span>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card info-card stocks-card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item stock-filter" data-period="today">Aujourd'hui</a></li>
                    <li><a class="dropdown-item stock-filter" data-period="yesterday">Hier</a></li>
                    <li><a class="dropdown-item stock-filter" data-period="this-week">Cette semaine</a></li>
                    <li><a class="dropdown-item stock-filter" data-period="last-week">Semaine dernière</a></li>
                    <li><a class="dropdown-item stock-filter" data-period="this-month">Ce mois-ci</a></li>
                    <li><a class="dropdown-item stock-filter" data-period="last-month">Mois dernier</a></li>
                    <li><a class="dropdown-item stock-filter" data-period="this-year">Cette année</a></li>
                    <li><a class="dropdown-item stock-filter" data-period="last-year">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Stocks<span id="period-text-stock">| Aujourd'hui</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-box"></i>
                    </div>
                    <div class="ps-3">
                        <h6 id="stock-count">0</h6>
                        {#<span class="text-success small pt-1 fw-bold" id="percentage-change">0%</span>
                        <span class="text-muted small pt-2 ps-1">variation</span>#}
                    </div>
                </div>
            </div>
        </div>
      </div>
    
      <div id="stock-data" style="display: none;">
        <span id="count-stock-today"> {{countStockToday | default(0)}} </span>
        <span id="count-stock-yesterday"> {{countStockYesterday | default(0)}} </span>
        <span id="count-stock-this-week"> {{countStockThisWeek | default(0)}} </span>
        <span id="count-stock-last-week"> {{countStockLastWeek |default(0)}} </span>
        <span id="count-stock-this-month"> {{countStockThisMonth |default(0)}} </span>
        <span id="count-stock-last-month"> {{countStockLastMonth | default(0)}} </span>
        <span id="count-stock-this-year"> {{countStockThisYear | default(0)}} </span>
        <span id="count-stock-last-year"> {{countStockLastYear | default(0)}} </span>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card info-card stock-restant-card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="today">Aujourd'hui</a></li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="yesterday">Hier</a></li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="this-week">Cette semaine</a></li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="last-week">Semaine dernière</a></li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="this-month">Ce mois-ci</a></li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="last-month">Mois dernier</a></li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="this-year">Cette année</a></li>
                    <li><a class="dropdown-item stock-restant-filter" data-period="last-year">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Stocks restants <span id="period-text-stock-restant">| Aujourd'hui</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-box"></i>
                    </div>
                    <div class="ps-3">
                        <h6 id="stock-restant-count">0</h6>
                        {#<span class="text-success small pt-1 fw-bold" id="percentage-change">0%</span>
                        <span class="text-muted small pt-2 ps-1">variation</span>#}
                    </div>
                </div>
            </div>
        </div>
      </div>
    
      <div id="stock-restant-data" style="display: none;">
        <span id="count-stock-restant-today"> {{countStockRestantToday | default(0)}} </span>
        <span id="count-stock-restant-yesterday"> {{countStockRestantYesterday | default(0)}} </span>
        <span id="count-stock-restant-this-week"> {{countStockRestantThisWeek | default(0)}} </span>
        <span id="count-stock-restant-last-week"> {{countStockRestantLastWeek | default(0)}} </span>
        <span id="count-stock-restant-this-month"> {{countStockRestantThisMonth | default(0)}} </span>
        <span id="count-stock-restant-last-month"> {{countStockRestantLastMonth | default(0)}} </span>
        <span id="count-stock-restant-this-year"> {{countStockRestantThisYear | default(0)}} </span>
        <span id="count-stock-restant-last-year"> {{countStockRestantLastYear | default(0)}} </span>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card info-card produit-vendu-card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="today">Aujourd'hui</a></li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="yesterday">Hier</a></li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="this-week">Cette semaine</a></li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="last-week">Semaine dernière</a></li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="this-month">Ce mois-ci</a></li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="last-month">Mois dernier</a></li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="this-year">Cette année</a></li>
                    <li><a class="dropdown-item stock-vendu-filter" data-period="last-year">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Stock vendus <span id="period-text-stock-vendu">| Aujourd'hui</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-basket"></i>
                    </div>
                    <div class="ps-3">
                        <h6 id="stock-vendu-count">0</h6>
                        {#<span class="text-success small pt-1 fw-bold" id="percentage-change">0%</span>
                        <span class="text-muted small pt-2 ps-1">variation</span>#}
                    </div>
                </div>
            </div>
        </div>
      </div>
    
      <div id="stock-vendu-data" style="display: none;">
        <span id="count-stock-vendu-today"> {{countStockVenduToday | default(0)}} </span>
        <span id="count-stock-vendu-yesterday"> {{countStockVenduYesterday | default(0)}} </span>
        <span id="count-stock-vendu-this-week"> {{countStockVenduThisWeek | default(0)}} </span>
        <span id="count-stock-vendu-last-week"> {{countStockVenduLastWeek | default(0)}} </span>
        <span id="count-stock-vendu-this-month"> {{countStockVenduThisMonth | default(0)}} </span>
        <span id="count-stock-vendu-last-month"> {{countStockVenduLastMonth | default(0)}} </span>
        <span id="count-stock-vendu-this-year"> {{countStockVenduThisYear | default(0)}} </span>
        <span id="count-stock-vendu-last-year"> {{countStockVenduLastYear | default(0)}} </span>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">

        <div class="card info-card customers-card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrer</h6>
              </li>

              <li><a class="dropdown-item client-filter" data-period="today">Aujourd'hui</a></li>
              <li><a class="dropdown-item client-filter" data-period="yesterday">Hier</a></li>
              <li><a class="dropdown-item client-filter" data-period="this-week">Cette semaine</a></li>
              <li><a class="dropdown-item client-filter" data-period="last-week">Semaine dernière</a></li>
              <li><a class="dropdown-item client-filter" data-period="this-month">Ce mois-ci</a></li>
              <li><a class="dropdown-item client-filter" data-period="last-month">Mois dernier</a></li>
              <li><a class="dropdown-item client-filter" data-period="this-year">Cette année</a></li>
              <li><a class="dropdown-item client-filter" data-period="last-year">Année dernière</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Clients <span id="period-text-client">| Aujourd'hui</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-people"></i>
              </div>
              <div class="ps-3">
                <h6 id="client-count">0</h6>
                {#<span class="text-danger small pt-1 fw-bold">12%</span> 
                <span class="text-muted small pt-2 ps-1">decrease</span>#}

              </div>
            </div>

          </div>
        </div>

      </div>

      <div id="client-data" style="display: none;">
        <span id="count-client-today"> {{countClientToday | default(0)}} </span>
        <span id="count-client-yesterday"> {{countClientYesterday | default(0)}} </span>
        <span id="count-client-this-week"> {{countClientThisWeek | default(0)}} </span>
        <span id="count-client-last-week"> {{countClientLastWeek | default(0)}} </span>
        <span id="count-client-this-month"> {{countClientThisMonth | default(0)}} </span>
        <span id="count-client-last-month"> {{countClientLastMonth | default(0)}} </span>
        <span id="count-client-this-year"> {{countClientThisYear | default(0)}} </span>
        <span id="count-client-last-year"> {{countClientLastYear | default(0)}} </span>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">

        <div class="card info-card customers-card">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrer</h6>
              </li>

              <li><a class="dropdown-item fournisseur-filter" data-period="today">Aujourd'hui</a></li>
              <li><a class="dropdown-item fournisseur-filter" data-period="yesterday">Hier</a></li>
              <li><a class="dropdown-item fournisseur-filter" data-period="this-week">Cette semaine</a></li>
              <li><a class="dropdown-item fournisseur-filter" data-period="last-week">Semaine dernière</a></li>
              <li><a class="dropdown-item fournisseur-filter" data-period="this-month">Ce mois-ci</a></li>
              <li><a class="dropdown-item fournisseur-filter" data-period="last-month">Mois dernier</a></li>
              <li><a class="dropdown-item fournisseur-filter" data-period="this-year">Cette année</a></li>
              <li><a class="dropdown-item fournisseur-filter" data-period="last-year">Année dernière</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Fournisseurs <span id="period-text-fournisseur">| Aujourd'hui</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-people"></i>
              </div>
              <div class="ps-3">
                <h6 id="fournisseur-count">0</h6>
                {#<span class="text-danger small pt-1 fw-bold">12%</span> 
                <span class="text-muted small pt-2 ps-1">decrease</span>#}

              </div>
            </div>

          </div>
        </div>

      </div>

      <div id="fournisseur-data" style="display: none;">
        <span id="count-fournisseur-today"> {{countFournisseurToday | default(0)}} </span>
        <span id="count-fournisseur-yesterday"> {{countFournisseurYesterday | default(0)}} </span>
        <span id="count-fournisseur-this-week"> {{countFournisseurThisWeek | default(0)}} </span>
        <span id="count-fournisseur-last-week"> {{countFournisseurLastWeek | default(0)}} </span>
        <span id="count-fournisseur-this-month"> {{countFournisseurThisMonth | default(0)}} </span>
        <span id="count-fournisseur-last-month"> {{countFournisseurLastMonth | default(0)}} </span>
        <span id="count-fournisseur-this-year"> {{countFournisseurThisYear | default(0)}} </span>
        <span id="count-fournisseur-last-year"> {{countFournisseurLastYear | default(0)}} </span>
      </div>

      <div class="col-12">
        <div class="card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtrer</h6>
                    </li>
                    <li><a class="dropdown-item report-filter" onclick="updateChartData('thisWeek')">Cette semaine</a></li>
                    <li><a class="dropdown-item report-filter" onclick="updateChartData('lastWeek')">Semaine dernière</a></li>
                    <li><a class="dropdown-item report-filter" onclick="updateChartData('thisYear')">Cette année</a></li>
                    <li><a class="dropdown-item report-filter" onclick="updateChartData('lastYear')">Année dernière</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Rapports <span>/Cette semaine</span></h5>
    
                <div id="reportsChart"></div>
    
                <script>
                    // Variable globale pour le graphique
                    var chart;
    
                    // Initialiser le graphique ApexCharts
                    document.addEventListener("DOMContentLoaded", () => {
                        chart = new ApexCharts(document.querySelector("#reportsChart"), {
                            series: [{
                                name: 'Produit vendu',
                                data: {{ countProductsSoldThisWeekByDay|json_encode|raw }},
                            }, {
                                name: 'Commande',
                                data: {{ countOrderByDayThisWeek|json_encode|raw }},
                            }, {
                                name: 'Clients',
                                data: {{ countClientByDayThisWeek|json_encode|raw }},
                            }],
                            chart: {
                                height: 350,
                                type: 'area',
                                toolbar: {
                                    show: false
                                },
                            },
                            markers: {
                                size: 4
                            },
                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                            fill: {
                                type: "gradient",
                                gradient: {
                                    shadeIntensity: 1,
                                    opacityFrom: 0.3,
                                    opacityTo: 0.4,
                                    stops: [0, 90, 100]
                                }
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                curve: 'smooth',
                                width: 2
                            },
                            xaxis: {
                                categories: ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi"]
                            },
                            yaxis: {
                              title: {
                                  text: 'Quantité'
                              },
                              min: 0,
                              labels: {
                                formatter: function (val) {
                                    if (val !== null) {
                                        return val.toFixed(0);
                                    } else {
                                        return 0; 
                                    }
                                }
                              }
                          },
                        });
                        chart.render();
                    });
    
                    // Définir la fonction pour mettre à jour les données du graphique
                    function updateChartData(selectedOption) {
                        if (!chart) {
                            console.error("Chart is not initialized");
                            return;
                        }
    
                        if (selectedOption === 'thisWeek') {
                          chart.updateOptions({
                              xaxis: {
                                  categories: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi']
                              }
                          });
                            chart.updateSeries([
                                { name: 'Produit vendu', data: {{ countProductsSoldThisWeekByDay|json_encode|raw }} },
                                { name: 'Commande', data: {{ countOrderByDayThisWeek|json_encode|raw }} },
                                { name: 'Clients', data: {{ countClientByDayThisWeek|json_encode|raw }} }
                            ]);
                        } else if (selectedOption === 'lastWeek') {
                          chart.updateOptions({
                              xaxis: {
                                  categories: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi']
                              }
                          });
                            chart.updateSeries([
                                { name: 'Produit vendu', data: {{ countProductsSoldLastWeekByDay|json_encode|raw }} },
                                { name: 'Commande', data: {{ countOrderByDayLastWeek|json_encode|raw }} },
                                { name: 'Clients', data: {{ countClientByDayLastWeek|json_encode|raw }} }
                            ]);
                        } else if (selectedOption === 'thisYear') {
                          chart.updateOptions({
                              xaxis: {
                                  categories: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre']
                              }
                          });
                            chart.updateSeries([
                                { name: 'Produit vendu', data: {{countProductsSoldThisYearByDay|json_encode|raw}} },
                                { name: 'Commande', data: {{ countOrderByMonthThisYear|json_encode|raw }} },
                                { name: 'Client', data: {{countClientByDayThisYear|json_encode|raw}} },
    
                            ]);
                        } else if (selectedOption === 'lastYear') {
                          chart.updateOptions({
                              xaxis: {
                                  categories: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre']
                              }
                          });
                            chart.updateSeries([
                                { name: 'Produit vendu', data: {{countProductsSoldLastYearByDay|json_encode|raw}} },
                                { name: 'Commande', data: {{ countOrderByMonthLastYear|json_encode|raw }} },
                                { name: 'Produit vendu', data: {{countClientByDayLastYear|json_encode|raw}} },
    
                            ]);
                        }
    
                    }
                </script>
            </div>
        </div>
    </div>

    </div>
  </section>

  <script src="{{ asset('assets/js/jquery-3.6.0.js') }}"></script>

  <script src="{{asset('assets/js/filter.js')}}"></script>

  <script>
    $(document).ready(function() {
    $('#tab-compte_1').removeClass('active');
    $('#tab-compte_2').removeClass('active');
    
    $('#affaires_fournisseur').removeClass('active').empty();
    
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');
      $('.tab-import-produit').removeClass('active');
      $('#tab-import-produit').removeClass('active');

      $('.tab-user').removeClass('active');
      $('#tab-utilisateur').removeClass('active');

      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      
      $('#tab-profile').removeClass('active');
     
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
       $('#tab-transfert-produit').css('display', 'none');
     
      $('#tab-application').removeClass('active');
      $('#tab-profile').removeClass('active');
      $('#tab-produit-type').removeClass('active');
      $('.tab-produit-type').removeClass('active');
      $('#tab-financier-affaire').css('display', 'none');
      $('#tab-import-produit').css('display', 'none');
      $('#tab-facture').css('display', 'none');
      $('#tab-facture-affaire').css('display', 'none');
      $('#affaires_client').css('display', 'none');
      $('#tab-info-affaire').css('display', 'none');
      $('#tab-dashboard').addClass('active');

    });

    
   
  </script>

