   
        {% if type == "thead" %}
        <tr id="thead_produit_categorie" class="text-nowrap">
            <th>Action</th>
            <th>Nom</th>
            <th>Stock restant</th>
            
            {# <th>Référence</th>
            <th>PrixHt</th>
            <th>Tva</th>
            <th>Quantité</th>
            <th>Stock minimum</th>
            <th>Stock maximum</th>
            <th>Unité vente de gros</th>
            <th>Unité vente détail</th>
            <th>PrixTTC</th>
            <th>Prix d'achat</th>
            <th>Prix vente de gros</th>
            <th>Prix vente détail</th>
            <th>Date de création</th>
            <th>Description</th> #}
        </tr>
        {% elseif type == "tbody" %}
        <tr id="tbody_produit_categorie" class="text-nowrap">
            <td>
                <div class="dropdown text-decoration-none" id="dropdown-product"><a href="#"><span><i class="bi bi-list fs-5 text-black"></i></span></a>
                    <ul style="list-style: none;">
                        <li><a href="#" onclick="return openModalUpdateProduitCategorie({{liste.id}})" class="dropdown-item"><i class="mx-2 bi bi-pencil-fill"></i>Modifier</a></li>
                        <li><a href="#" onclick="return deleteProduitCategorie({{liste.id}})" class="dropdown-item"><i class="mx-2 bi bi-trash text-danger"></i>Supprimer</a></li>
                        <li><a href="#tab-stock" onclick="return listStock({{liste.id}})" class="dropdown-item"><i class="mx-2 bi bi-box-seam"></i>Liste stock</a></li>
                        <li><a href="#tab-produit-image" onclick="return listImage({{liste.id}})" class="dropdown-item"><i class="mx-2 bi bi-image"></i>Liste image</a></li>
                        <li><a href="#" onclick="return transfertProduit({{liste.id}})" class="dropdown-item"><i class="mx-2 bi bi-arrow-left-right"></i>Liste image</a></li>
                    </ul>
                </div>
            </td>
            <td> {{liste.nom}} </td>
            <td> {{liste.stockRestant}} </td>
            
            {# <td> {{liste.reference}} </td>
            <td> {{liste.prixHt}} </td>
            <td> {{liste.tva}} </td>
            <td> {{liste.qtt}} </td>
            <td> {{liste.stockMin}} </td>
            <td> {{liste.stockMax}} </td>
            <td> {{liste.uniteVenteGros}} </td>
            <td> {{liste.uniteVenteDetail}} </td>
            <td> {{liste.prixTTC}} </td>
            <td> {{liste.prixAchat}} </td>
            <td> {{liste.prixVenteGros}} </td>
            <td> {{liste.prixVenteDetail}} </td>
            <td> {{liste.dateCreation|date('d-m-Y')}} </td>
            <td> {{liste.description|slice(0,30)|raw}} {% if liste.description|length > 30 %} ... {% endif %} </td> #}
        </tr>
         {% endif %}
<script>
    
    function deleteProduitCategorie(id = null) {
        if (confirm('Voulez vous vraiment supprimer cet produit catégorie?')) {
            $.ajax({
                url: '/admin/produit/categorie/delete/'+id,
                type: 'POST',
                data: {produitCategory: id},
                success: function (response) {
                    var nextLink = $('#sidebar').find('li#produit-categorie').find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Suppression effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la suppression de la catégorie.');
                }
            });
        }
    }

    function openModalUpdateProduitCategorie(id = null) {
        $.ajax({
                url: '/admin/produit/categorie/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    if (response.html != "") {
                        $("#blocModalProduitCategorieEmpty").empty();
                        $("#blocModalProduitCategorieEmpty").append(response.html);

                        $('#modalUpdateProduitCategorie').modal('show');

                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la mise à jour de la catégorie.');
                }
            });
    }

    function listStock(id = null) {
    $.ajax({
             type: 'post',
             url: '/admin/stock/'+id,
             //data: {},
             success: function (response) {
                 $("#tab-stock").empty();
                 $("#tab-stock").append(response.html);
                 $("#tab-stock").addClass('active');
                 $('.sidebar-nav a[href="#tab-dashboard"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-permission"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-privilege"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-application"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-utilisateur"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-categorie-permission"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-categorie"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-compte_1"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-compte_2"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-produit-categorie"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-produit-type"]').addClass('collapsed');
                 $(".loadBody").css('display', 'none');
             },
             error: function () {
                // $(".loadBody").css('display', 'none');
                 $(".chargementError").css('display', 'block');
             }

         });
 }


 function listImage(id = null) {
    $.ajax({
             type: 'post',
             url: '/admin/produit/image/'+id,
             //data: {},
             success: function (response) {
                 $("#tab-produit-image").empty();
                 $("#tab-produit-image").append(response.html);
                 $("#tab-produit-image").addClass('active');
                 $('.sidebar-nav a[href="#tab-dashboard"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-permission"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-privilege"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-application"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-utilisateur"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-categorie-permission"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-categorie"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-compte_1"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-compte_2"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-produit-categorie"]').addClass('collapsed');
                 $('.sidebar-nav a[href="#tab-produit-type"]').addClass('collapsed');
                 $(".loadBody").css('display', 'none');
             },
             error: function () {
                // $(".loadBody").css('display', 'none');
                 $(".chargementError").css('display', 'block');
             }

         });
 }

   
</script>